:root {
	--border-color: #dddada27;
	--border-thickness: 2px;
	--border-radius: 7px;
}
html,
body {
	margin: 20;
	padding: 0;
	background: #00140c;
	font-family: 'Besley', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

h1 {
	font-size: 1.8em;
	font-weight: 400;
	color: white;
	margin-left: 25px;
}

.game {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	border: var(--border-thickness) solid var(--border-color);
	border-radius: var(--border-radius);
	justify-content: center;
	padding: 15px;
	gap: 15px;
}

#game__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: var(--border-thickness) solid var(--border-color);
	border-radius: var(--border-radius);
}

canvas {
	margin-bottom: 10px;
}

.spin-button {
	width: 80%;
	background: #097834;
	margin-bottom: 10px;
	color: white;
	border: var(--border-thickness) solid #018145;
	padding: 9px;
	border-radius: calc(var(--border-radius) / 2);
	cursor: pointer;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#game_area {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 5px;
}

#game__board {
	border: var(--border-thickness) solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	padding: 10px;
	max-height: 200px;
}

#board__zero {
	width: 8%;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #097834;
	border-radius: calc(var(--border-radius) / 2) 0px 0px calc(var(--border-radius) / 2);
	border: var(--border-thickness) solid var(--border-color);
	box-sizing: border-box;
	color: white;
}

#board__numbers {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}

.number__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color);
	box-sizing: border-box;
	color: white;
	height: 33.33%;
	border-radius: 3px;
	cursor: pointer;
}

#board__rows {
	width: 8%;
	display: flex;
	display: flex;
	background: var(--border-color);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 0px calc(var(--border-radius) / 2) calc(var(--border-radius) / 2) 0px;
	border: var(--border-thickness) solid var(--border-color);
	box-sizing: border-box;
	color: white;
}

.rows__row {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color: white;
	width: 100%;
	height: 33.33%;
	cursor: pointer;
}

.rows__row:nth-child(2) {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

#history-list {
	width: 100%;
	height: 180px;
	overflow-y: auto;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
	border: var(--border-thickness) solid var(--border-color);
	border-radius: var(--border-radius);
	color: white;
}
